.WelcomeMessage {
  color: rgb(96, 241, 210);
  font-size: 1.5rem;
  /* font-weight: bold; */
  display: flex;
  text-align: center;
}

.WelcomeMessage {
  margin-left: 20px;
  margin-right: 120px;
}
