.navbar {
  background-color: rgba(7, 7, 7, 0.884);
  color: rgb(96, 241, 210);
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}

.nav-list li {
  margin: 0 15px;
}

.nav-list li a {
  text-decoration: none;
  color: rgb(96, 241, 210);
  font-weight: bold;
}

.nav-list li a:hover {
  color: rgb(64, 171, 148);
  text-decoration: underline;
}
