.icon-link {
  /* text-align: center; */
  margin-top: 20px;
}

.icon-link img {
  width: 50px;
  height: auto;
  display: block;
  margin: 0 auto;
}

.icon-link img:hover {
  opacity: 0.7;
}

.icon-link span {
  display: block;
  margin-top: 5px;
  font-size: 14px;
}
